@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Definición de variables globales */
:root {
    --color-fondo: #ffffff;
    --color-texto: #000000;
    --color-primario: #4CAF50;
    --color-secundario: #000;
    --color-gris-claro: rgba(0, 0, 0, 0.05);
    --color-sombra: rgba(0, 0, 0, 0.1);
    --fuente-principal: 'Open Sans', sans-serif;
    --fuente-secundaria: 'Titillium Web', sans-serif;
    --tamano-grande: 10rem;
    --tamano-medium: 30px;
    --tamano-small: 22px;
    --borde-radius: 10px;
    --padding-standard: 20px;
    --box-shadow-normal: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Contenedor principal */
.contenedor {
    flex: 1;
}

/* Estilo general del body */
body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--color-fondo);
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    position: relative;
    flex-direction: column;
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    background-attachment: fixed;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* Animación del fondo */
@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

/* Estilo del título en el header */
header h1 {
    text-align: center;
    font-size: 35px;
    color: var(--color-fondo);
    padding: 30px 0;
}

/* Estilo del contenedor de items */
.contenedor {
    width: 90%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

/* Estilo del contenedor de items en grid */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    width: 100%;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Estilo de cada item dentro del contenedor */
.contenedor .contenedor-items .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 220px;
    height: 100%;
    margin: auto;
    background-color: var(--color-fondo);
    border: 1px solid #ddd;
    border-radius: var(--borde-radius);
    box-shadow: var(--box-shadow-normal);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo de la imagen dentro de cada item */
.contenedor .contenedor-items .item .img-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--borde-radius);
    margin-bottom: 15px;
}

/* Estilo del título dentro de cada item */
.contenedor .contenedor-items .item .titulo-item {
    font-size: var(--tamano-small);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Estilo del precio dentro de cada item */
.contenedor .contenedor-items .item .precio-item {
    font-size: var(--tamano-small);
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Estilo del botón dentro de cada item */
.contenedor .contenedor-items .item .boton-item,
.descripcion {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    text-align: center;
    font-weight: bold;
    border-radius: var(--borde-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.fondooscuro {
    display: none;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #0000007c;
    width: 200vh;
    height: 200vh;
    transform: translate(-50%, -50%);
}

.detalle {
    top: 50%;
    left: 50%;
    z-index: 99999;
    background: var(--color-fondo);
    position: fixed;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 300px;
    height: auto;
}

/* Estilo del botón al hacer hover */
.contenedor .contenedor-items .item .boton-item:hover,
.descripcion:hover {
    color: #000;
    background-color: darken(var(--color-secundario), 10%);
}

/* Efecto de hover en los items */
.contenedor .contenedor-items .item:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
}

/* Estilo del carrito fijo en la pantalla */
.carrito {
    position: fixed !important;
    border: 1px solid #666;
    width: 35%;
    height: min-content;
    margin-top: 40px;
    border-radius: var(--borde-radius);
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    opacity: 0;
}

.carrito .carrito-item-detalles {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    text-align: left;
}

/* Estilo del header dentro del carrito */
.carrito .header-carrito {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    text-align: center;
    padding: 30px 0;
}

/* Estilo de los items dentro del carrito */
.carrito .carrito-item {
    display: flex;
    position: relative;
    border-bottom: 1px solid #666;
    padding: var(--padding-standard);
    background-color: var(--color-fondo);
}


/* Estilo del título de cada item en el carrito */
.carrito .carrito-item-detalles .carrito-item-titulo {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}


/* Estilo del selector de cantidad en el carrito */
.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

/* Estilo de la cantidad de productos en el carrito */
.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

/* Estilo de los botones de incremento y decremento en el carrito */
.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item-detalles .carrito-item-precio {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

/* Estilo del botón de eliminar dentro de cada item en el carrito */
.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    background: transparent;
}

/* Estilo de los botones de pagar en el carrito */
.carrito-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: var(--color-secundario);
    color: var(--color-fondo);
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

/* Estilo de botón de pagar al hacer hover */
.carrito-total .btn-pagar:hover {
    border: 1px solid #000;
    color: #000;
    background-color: darken(var(--color-secundario), 10%);
}

/* Estilo de la animación del carrito */
.carrito.aparece {
    opacity: 1;
}

/* Estilo del contenedor del carrito con productos */
.carrito .container-carrito {
    height: calc(100% - 150px);
    overflow-y: scroll;
}

#nomostrar {
    display: none;
}