@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Definición de variables globales */
:root {
    --color-fondo: #ffffff;
    --color-texto: #000000;
    --color-primario: #4CAF50;
    --color-secundario: #000;
    --color-gris-claro: rgba(0, 0, 0, 0.05);
    --color-sombra: rgba(0, 0, 0, 0.1);
    --fuente-principal: 'Open Sans', sans-serif;
    --fuente-secundaria: 'Titillium Web', sans-serif;
    --tamano-grande: 10rem;
    --tamano-medium: 30px;
    --tamano-small: 22px;
    --borde-radius: 10px;
    --padding-standard: 20px;
    --box-shadow-normal: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.fa-shopping-cart{
    appearance: none;
    color: var(--color-fondo);
    font-size: 20px;
    cursor: pointer;
}

.carrito_detalle{
    top: 80%;
    height: min-content;
    width: 500px;
    right: 5%;
    position: absolute;
    background: transparent;
}
.fa-shopping-cart:checked ~ .carrito_detalle{
    display: none !important;
}

/* Contenedor principal */
.contenedor {
    flex: 1;
}

.eliminar{
    font-size: 20px;
    background: none;
    border: none;
    width: min-content;
    cursor: pointer;
}

/* Estilo del título en el header */
header h1 {
    text-align: center;
    font-size: 35px;
    color: var(--color-fondo);
    padding: 30px 0;
}

/* Estilo del contenedor de items */
.contenedor {
    width: 90%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

/* Estilo del contenedor de items en grid */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    width: 100%;
    height: min-content;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Estilo de cada item dentro del contenedor */
.contenedor .contenedor-items .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 220px;
    height: 100%;
    margin: auto;
    background-color: var(--color-fondo);
    border: 1px solid #ddd;
    border-radius: var(--borde-radius);
    box-shadow: var(--box-shadow-normal);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo de la imagen dentro de cada item */
.contenedor .contenedor-items .item .img-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--borde-radius);
    margin-bottom: 15px;
}

/* Estilo del título dentro de cada item */
.contenedor .contenedor-items .item .titulo-item {
    font-size: var(--tamano-small);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Estilo del precio dentro de cada item */
.contenedor .contenedor-items .item .precio-item {
    font-size: var(--tamano-small);
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Estilo del botón dentro de cada item */
.contenedor .contenedor-items .item .boton-item,
#eliminar,
#noeliminar,
.descripcion {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    text-align: center;
    font-weight: bold;
    border-radius: var(--borde-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.fondooscuro {
    display: none;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #0000007c;
    width: 200vh;
    height: 200vh;
    transform: translate(-50%, -50%);
}

.detalle {
    top: 50%;
    left: 50%;
    z-index: 99999;
    background: var(--color-fondo);
    position: fixed;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 40%;
    height: auto;
}

/* Estilo del botón al hacer hover */
.contenedor .contenedor-items .item .boton-item:hover,
#eliminar:hover,
#noeliminar:hover,
.descripcion:hover {
    color: #000;
    background-color: darken(var(--color-secundario), 10%);
}

/* Efecto de hover en los items */
.contenedor .contenedor-items .item:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
}


#nomostrar {
    display: none;
}

@media (width < 1150px) {
    .detalle {
        width: 20%;
    }
    .contenedor-items{
        margin-top: 100px !important;
    }
}